.advantages__container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 10px;
}

.advantages__title {
    flex-grow: 50%;
    max-width: 480px;
}

.advantages__list {
    flex-grow: 50%;
}

.advantages__item {
    background-image: url('../image/star.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 32px;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.advantages__item:last-child {
margin-bottom: 0;
}