@font-face {
    font-family: Inter;
    font-weight: 500;
    src: local(Inter),
        url('../fonts/fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'),
        url('../fonts/fonts/inter-v12-cyrillic_latin-500.woff') format('woff');
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: local(Inter),
        url('../fonts/fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
        url('../fonts/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
}

:root {
    --width-slide: 590px;
    --hight-slide: 530px;
    --width-block: calc(50% - 10px);
    --gap: 10px;
    --padding: 50px;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Inter, sans-serif;
    color: #232020;
    min-width: 320px;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.list__reset {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* 
------------------------------------------------------------------------------------ */



.header {
    padding: 18px 0;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 24px;
    color: #232020;
    text-transform: uppercase;
    background-color: #ffc700;
    padding: 18px 40px;
    border: 0;
}

.header__button {

    background-color: transparent;
    padding: 18px 40px;
    border: 1px solid #232020;
}

.footer {
    /* margin-bottom: 40px; */
}


.footer__container {
    border-top: 2px solid #F8F8F8;
    padding-top: 50px;

    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 40px 126px;
    grid-template-areas:
        'logo  social contact'
        'copyright . developer';
}

.footer__logo {
    grid-area: logo;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__social {
    grid-area: social;
    flex-direction: row;
    gap: 24px;
    justify-self: end;
    padding-top: 8px;
}

ul.footer__contact {
    grid-area: contact;
    gap: 16px;
    padding-top: 8px;
}

.footer__developer {
    grid-area: developer;
    gap: 8px;
}

.footer__copyright {
    grid-area: copyright;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.footer__link_contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section__offset {
    padding-top: 40px;
    padding-bottom: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.grey-block {
    background-color: #F8F8F8;
    border-radius: 12px;
    padding: var(--padding);
    min-height: 530px;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width:1240px) {

    :root {
        --padding: 30px;
        --width-slide: 440px;
     }

    .container {
        max-width: 890px;
    }

    .section__offset {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .title {
        font-size: 34px;
    }

    .grey-block {
        min-height: 396px;
    }
}

@media (max-width:920px) {
     :root {
        --padding: 24px;
        --width-slide: 311px;
     }

    .container {
        max-width: 690px;
        padding: 0 30px;
    }

    .grey-block {
        min-height: 280px;
    }

    .button {
        padding: 10px 24px;
        font-size: 14px;
      }
}

@media (max-width:560px) {

    :root {
        --padding: 20px;
        /* --width-slide: 308px; */
        --gap: 4px;
     }
    .container {
        padding: 0 6px;
    }

    .grey-block {
        min-height: 232px;
    }

    .button {
      padding: 10px 24px;
      font-size: 12px;
    }

    .title {
        font-size: 24px;
    }

}