.calc__container {
    display: flex;
    gap: 10px;
}

.calc__content {
    flex-basis: 50%;
}

.calc__total {
    flex-basis: 50%;
    display: flex;
    padding: 50px;
    align-items: flex-end;
    background: #333 url('../image/calc_img.jpg') center/cover no-repeat;
    border-radius: 12px;
}

.calc__result-wrapper {
    flex-basis: 303px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
}
.calc__result{
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calc__result:last-child{
    margin-bottom: 0;
}


.calc__title {
    margin-bottom: 32px;
}

.calc__fieldset {
    margin: 0;
    padding: 0;
    border: 0;

}

.calc__fieldset-size {
    margin-bottom: 32px;
    display: flex;
}

.calc__wrapper-input-size {
    margin-right: 10px;
}

.calc__wrapper-input-size:last-child {
    margin-right: 0;
}



.calc__number {
    width: 240px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #232020;
    padding: 0 25px;
}

.calc__wrapper-input-tariff {
    margin-right: 16px;
    display: inline-flex;
}

.calc__wrapper-input-tariff:last-child {
    margin-right: 0;
}


.calc__input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    margin-right: 8px;
}

.calc__input-radio::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    border-radius: 50%;
}

.calc__input-radio::after {
    content: '';
    position: absolute;
    /* inset: 0;
    transform: scale(0.33); */
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: #232020;
    border-radius: 50%;
    opacity: 0;
}

.calc__input-radio:checked::after {
    opacity: 1;
}

.calc__radio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    text-transform: uppercase;

}
.calc__text {
    color: #898989;
    font-size: 12px;
    margin-bottom: 2px;
}